<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.airshiplay.official.mybatis.mapper.custom.CustomOfCatalogMapper">
	<resultMap type="com.airshiplay.official.mybatis.model.OfCatalog"
		id="BaseResultMap"
		extends="com.airshiplay.official.mybatis.mapper.OfCatalogMapper.BaseResultMap"></resultMap>
	<select id="getCatalogs" resultType="hashmap">
		SELECT ca.*,ca.catalog_name
		as catalogName,ca.url_path as urlPath FROM
		of_catalog ca ORDER
		BY seq
	</select>

	<select id="getCatalogTree" parameterType="long" resultMap="BaseResultMap">
		call
		SHOW_CATALOG_TREE(#{cataid},#{status});
	</select>
</mapper>