<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.airshiplay.official.mybatis.mapper.custom.CustomOfUserWechatMapper">
	<resultMap id="BaseResultMap"
		type="com.airshiplay.official.mybatis.model.OfUserWechat"
		extends="com.airshiplay.official.mybatis.mapper.OfUserWechatMapper.BaseResultMap">

	</resultMap>

</mapper>